* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;

    
}


img {
    margin-left: 15px;
}

nav {
    width: 100%;
    background-color: rgb(164, 179, 248);
    height: 70px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    justify-content: space-between;
    font-size: 20px;
}


ul {
    padding: 30px;
    list-style-type: none;
    display: flex;
    gap: 30px;
  
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(1, 1, 32)
}

a:visited {
    color: rgb(24, 24, 24);
}

a:hover{
    color: rgb(102, 101, 101);

}

li {
    margin-bottom: 10px;
}

section {
    clear: both;
}

footer {
    background-color: #d3d3d3;
    text-align: center;
    height: 70px;
    font-size: small;
    display: flex;
    flex-direction: column-reverse;
}

article {
    width: 100%;
    height: 1010px;
    background-color: white;
}

.body {
    display: flex;
}

footer p {
    padding-inline: auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    justify-content: center;
    align-items: center;

}

p {
    text-align: center;
    padding-bottom: 1rem;
}

h1#title{
    font-size: 2.5rem;
    padding-top: 1rem;
}

.user{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

#header {
    font-size: 2em;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

img#image { 
    margin: auto;
    box-shadow: 5px 5px 5px #d3d3d3;
}

label {
    font-size: 1.25rem;
}

input{
    margin-bottom: 1rem;
}